<?xml version="1.0"?>

<configuration>

    <!--<system.web>
      <customErrors mode="On" defaultRedirect="~/notfound.html">
        <error statusCode="404" redirect="~/notfound.html" />
      </customErrors>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>-->
  <!--<system.web>
    <customErrors mode="On"
              redirectMode="ResponseRewrite">
      <error statusCode="404"
         redirect="~/notfound.html"/>
    </customErrors>

  </system.web>-->

  <system.webServer>
  <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <!--<error statusCode="404" responseMode="File" path="\Error\404.htm"/>-->
      <error statusCode="404" responseMode="ExecuteURL" path="http://silkyskinbeauty.co.uk/notfound.html"/>
  </httpErrors>
  </system.webServer>
</configuration>
