/* CSS Document 4a1728*/
body {
  background-image: url('../image/');
  background-color: #c62b7c;
  background-repeat: repeat-x;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #555;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 18px;
  text-align: justify
}

* {
  box-sizing: border-box;
}

a {
  color: #b72286;
  text-decoration: underline;
}

h1 {
  color: #b72286;
  font-weight: normal;
  font-size: 19px;
  line-height: 25px;
  border-bottom: solid 1px #f7dbef;
  margin: 0px;
}

h2, h3, h4, h5, h6 {
  color: #b72286;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}
table {
  width: 100%;
  border-spacing: 1px;
  border-collapse: 1px;
}
th, td {
  padding: 5px 5px 5px 5px;
  background: #FEDEFC;
  vertical-align: middle;
  text-align: center;
}
th.treatment{
  width: 50%;
}
th.duration{
  width: 10%;
}
th.offerprice{
  width: 20%;
}
th.fullprice{
  width: 20%;
}

tbody th, tfoot th {
  text-align: left;
  font-weight:lighter;
}

.contentbox h2{
  margin-top: 0px;
}

a:hover {
  text-decoration: none;
}

span.bigger {
  font-size: 2em;
}

header {
  max-width: 979px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  overflow: hidden;
  background-color: #fff;
}

.headerinfo {
  display: inline-block;
  max-width: 969px;
  margin: 0px 5px 0px 5px;
  padding-top: 5px;
}

img.headerimage {
  display: block;
  background-color: #fff;
  max-width: 100%;
  height: auto;
  padding-bottom: 1px;
}

.topnavmenue {
  background-color: #c62b7c;
  line-height: 30px;
  text-align: center;
}

.topnavmenue ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.topnavmenue ul li {
  display: inline;
  border-right: solid 1px #e55fa9;
  padding-right: 10px;
  padding-left: 10px;
}

.topnavmenue ul li:last-child {
  border-right-style: none;
}

.topnavmenue ul li a {
  text-decoration: none;
  color: #fff;
}

.topnavmenue .icon {
  display: none;
}

.mainbody {
  max-width: 979px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  background-color: #fff;
}

.mainpannel {
  width: 78%;
  background-color: #fff;
  float: right;
  padding: 0px 5px 0px 5px;
  margin: 5px 0px 0px 0px;
}

.headingsection {
  padding: 0px 5px 0px 5px;
}

.sidenavpannel {
  width: 22%;
  background-color: #fff;
  padding: 0px 5px 0px 5px;
  float: left;
  text-align: center;
  margin: 5px 0px 0px 0px;
}

.sidenavmenue {
  width: 100%;
  background-color: #fbf0f8;
  text-align: left;
  float: left;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 8px;
  color: #b72286;
  font-size: 12px;
}

#sitemap{
  color: #b72286;
}
.sidenavmenue ul {
  margin-left: 16px;
  margin-right: 0px;
  list-style-image: url('../graphics/bullet.gif');
  line-height: 20px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #df97c6;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.sidenavmenue li a {
  line-height: 18px;
  padding: 2px;
}

.sidenavmenue li .active {
  background-color: #facae6;
  text-decoration: none;
}

.sidenavmenue li:first-child {
  list-style-type: none;
}

.sidenavmenue span {
  background-color: #facae6;
  padding: 2px;
}

.news {
  width: 100%;
  background-color: #f9e5f0;
  font-size: 11px;
  margin-bottom: 10px;
  text-align: left;
  float: left;
}

.news h1 {
  background-color: #facae6;
  font-weight: bold;
  line-height: 35px;
  padding-left: 8px;
  color: #b72286;
  font-size: 12px;
  margin: 0px;
}

article.newsitem h2 {
  font-size: 11px;
  color: #555;
}

article.newsitem {
  line-height: 16px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: dashed 1px #df97c6;
  margin: 10px;
  text-align: left;
}

.welcomemheading {
  margin-bottom: 10px;
}

img.homeposter {
  width: 40%;
  max-width: 313px;
  display: inline-block;
  float: left;
}

img.map{
  width: 45%;
  max-width: 357px;
  display: inline-block;
  float: right;
}

article.homeintroduction {
  width: 60%;
  padding-left:
    display: inline-block;
  float: left;
  padding: 0px 5px 0px 10px;
}

article.homeintroduction p.firstparagraph {
  margin-top: 0px;
}
article.introduction{
  margin-bottom: 10px;
}
article.contactinfo{
  display: inline-block;
  float: left;
  width:55%;
  padding: 0px 10px 0px 5px;
}
.productsection {
  padding: 20px 0px 0px 0px;
  clear: both;
  /*text-align:center;*/
}

.productbox {
  width: 240px;
  padding: 8px;
  text-align: left;
  margin-bottom: 11px;
  margin-right: 11px;
  background-color: #fbf0f8;
  border: solid 1px #edbfe2;
  float: left;
  display: inline-block;
}

.productbox img {
  border: solid 1px #edbfe2;
  height: 120px;
}

.productbox p {
  padding: 0px;
  margin: 0px;
}

.productbox, .news, .sidenavmenue, .homeposter {
  box-shadow: 3px 3px 5px 1px #facae6;
}

.headingnavlinks, .headingnavlinks a {
  font-size: 11px;
  color: #555;
}

.contentbox {
  background-color: #fbf0f8;
  border: solid 1px #edbfe2;
  width: 100%;
  margin-bottom: 10px;
  float: left;
  padding: 10px 10px 10px 10px;
}
.contentbox h1{
  font-size: 14px;
  color: #b72286;
  font-weight: bold;
  border-bottom: 0;
}
.inlineimage {
  display:inline;
  float: right;
  margin: 5px 0px 5px 5px;
}
p.paymentmethod {
  color: #b72286;
  font-weight: bold;
  clear: both;
  padding-top: 10px;
}
address .addrleft {
  display: inline-block;
  width: 50%;
  float: left;
}
address .addrright {
  display: inline-block;
  width: 50%;
  float:right;
}
address {
  font-style: normal;
}

footer {
  max-width: 979px;
  color: #c1b0b6;
  background-color: #c62b7c;
  padding: 20px 0px 10px 0px;
  font-size: 11px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

footer a {
  color: #c1b0b6;
  text-decoration: underline;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .mainpannel {
    width: 100%;
  }

  .sidenavpannel {
    width: 100%;
  }

  .welcometext {
    text-align: center;
  }

  .homeintroduction {
    text-align: justify;
  }

  .productsection {
    text-align: center;
  }

  .productbox {
    float: none;
  }
}

@media screen and (max-width: 600px) {
  img.homeposter {
    float: none;
    width: 100%;
    display: none;
  }

  article.homeintroduction {
    width: 100%;
    margin-top: 10px;
  }
  article.contactinfo {
    width: 100%;
  }
  img.map {
    width: 100%;
    max-width: none;
  }
  img.inlineimage{
    width: 100%;
  }
}

/*Responsive top nav bar*/
@media screen and (max-width: 600px) {
  .topnavmenue li:not(:last-child) {
    display: none;
  }

  .topnavmenue li a.icon {
    margin-right: 5px;
    float: right;
    display: inline;
  }
}

@media screen and (max-width: 600px) {
  .topnavmenue.responsive {
    position: relative;
  }

  .topnavmenue.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnavmenue.responsive li,
  .topnavmenue.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnavmenue.responsive li:hover {
    background-color: #facae6;
  }
}
